#logo {
    height: 4rem;
    margin-top: -0.7rem;
}

.navbar-brand:hover {
  opacity: 0.7;
}

.nav-hover:hover {
    background-color: #eee;
}

i {
    color: #377a97;
}

#hero {
    display: block;
    margin: auto;
}

.about-pic {
    max-height: 250px;
    padding-top: 5rem;
    border-radius: 1rem;
}

#games_list {
    list-style-type: none;
}

#welcome {
    padding-top: 1.5rem;
    color: #58ae82; 
}


.team {
    font-size: 18px;
}

