{% extends "layout.jinja2" %}
{% block body %}
<h1>About us</h1>
    <div class="row">
        <div class="col-md-3">
            <img class ="about-pic" src="../static/img/derek.jpg">
            <h3>Derek Hewitt</h3>
            <p>Derek is a veteran and lifelong learner.  He is a lover of dogs, coffee and all kinds of beer.  In his off time he enjoys gaming and.. well pretty much just gaming.  Derek is a long time EVE Online player and 3k MMR scrub in Dota2.  But he has lots of hats so it's cool.</p>
        </div>
        <div class="col-md-3">
            <img class ="about-pic" src="../static/img/james_small_square.jpg">
            <h3>James Canning</h3>
            <p>James is a full stack developer and bitcoin fanatic. He founded <a href="http://www.bitedge.co/" target="_blank">Bitedge</a> in 2013.</p>
        </div>
        <div class="col-md-3">
            <img class ="about-pic" src="../static/img/zach.jpg">
            <h3>Zach Rickert</h3>
            <p>Zach Rickert is a Python developer in the Seattle Area.  He has a strong background in mathematics, informal science education and customer service.</p>
        </div>
        <div class="col-md-3">
            <img class ="about-pic" src="../static/img/generic_profile_pic.png">
            <h3>You!</h3>
            <p>Survivor pool is a free and open source collaboration with all our <a href="https://github.com/bitedgeco/survivor-pool" target="_blank">code available on Github</a>. You can be involved by contributing to and improving this site.</p>
        </div>
    </div>

<script type="text/javascript">
    $('#nav-about').css('border-bottom', '2px solid #58ae82');
</script>
{% endblock %}