{% extends "layout.jinja2" %}
{% block body %}

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="{{ request.route_url('pick', week_num=(week|int - 1)) }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="{{ request.route_url('admin', week_num=1) }}">1</a></li>
    <li><a href="{{ request.route_url('admin', week_num=2) }}">2</a></li>
    <li><a href="{{ request.route_url('admin', week_num=3) }}">3</a></li>
    <li><a href="{{ request.route_url('admin', week_num=4) }}">4</a></li>
    <li><a href="{{ request.route_url('admin', week_num=5) }}">5</a></li>
    <li><a href="{{ request.route_url('admin', week_num=6) }}">6</a></li>
    <li><a href="{{ request.route_url('admin', week_num=7) }}">7</a></li>
    <li><a href="{{ request.route_url('admin', week_num=8) }}">8</a></li>
    <li><a href="{{ request.route_url('admin', week_num=9) }}">9</a></li>
    <li><a href="{{ request.route_url('admin', week_num=10) }}">10</a></li>
    <li><a href="{{ request.route_url('admin', week_num=11) }}">11</a></li>
    <li><a href="{{ request.route_url('admin', week_num=12) }}">12</a></li>
    <li><a href="{{ request.route_url('admin', week_num=13) }}">13</a></li>
    <li><a href="{{ request.route_url('admin', week_num=14) }}">14</a></li>
    <li><a href="{{ request.route_url('admin', week_num=15) }}">15</a></li>
    <li><a href="{{ request.route_url('admin', week_num=16) }}">16</a></li>
    <li><a href="{{ request.route_url('admin', week_num=17) }}">17</a></li>
    <li>
      <a href="{{ request.route_url('pick', week_num=(week|int + 1)) }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

    <form class="pick-group" action="" method="POST">
        <ul id="games_list">
            <h2>Week {{ week }}</h2>
            {% for game in games %}
                <li>{{ game.home }} <input type="checkbox" name="game{{ game.id }}" value="home {{ game.id }} {{ week }}"> @ {{ game.away }} <input type="checkbox" name="game{{ game.id }}" value="away {{ game.id }} {{ week }}"></li>
                <li>{{ game.datetime.strftime('%A %B %d, %Y %I:%M %p').lstrip("0").replace(" 0", " ")}}</li>
                <br>
            {% endfor %}
            <button class="btn btn-default" type="submit" name="Save pick"/>Save pick <i class="fa fa-lg fa-floppy-o"></i> </button>
        </ul>
    </form>
    
{% endblock %}