{% extends "layout.jinja2" %}
{% block body %}
    <div class='row'>
        <div class='col-md-6'>
            {% if login_error %}
                <div class="alert alert-danger" role="alert">{{ login_error }}</div>
            {% endif %}
            <h1>Existing user</h1>
            <h2>Login</h2>
            <form class="input-group" action="" method="POST">
                <div class="input-group" class="field">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" name="username" id="username" required autofocus/>
                </div>
                <div class="input-group" class="field">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" id="password" required/>
                </div>
                <br>
                <div class="input-group" class="control_row">
                    <button class="btn btn-default" type="submit" name="Login"/>Login <i class="fa fa-lg fa-sign-in"></i> </button>
                </div>
            </form>
        </div>
        <div class='col-md-6'>
            {% if signup_error %}
                <div class="alert alert-danger" role="alert">{{ signup_error }}</div>
            {% endif %}
            <h1>New user</h1>
            <h2>Sign-up</h2>
            <form class="input-group" action="" method="POST">
                <div class="input-group" class="field">
                    <label for="username">New Username</label>
                    <input class="form-control" type="text" name="new_username" id="new_username" required/>
                </div>
                <div class="input-group" class="field">
                    <label for="password">New Password</label>
                    <input class="form-control" type="password" name="new_password" id="new_password" required/>
                </div>
                <br>
                <div class="input-group" class="control_row">
                    <button class="btn btn-default" type="submit" name="Login"/>Sign-up <i class="fa fa-lg fa-user-plus"></i> </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}