{% extends "layout.jinja2" %}
{% block body %}
    This is the selection page.  Participants will select which team they
    would like to pick this week.
    <nav>
        <ul>
            <li>Week 1</li>
            <li>Week 2</li>
        </ul>
    </nav>
    There will be a selector here for a given week.  This will make a query for that week to the db which then populates the template below.
    Will default to the current week, or the first week if pre-season.
    <form class="pick-group" action="" method="POST">
    <ul>
            <li>{{ game.datetime }}
                <ul>
                {{ datetime }}
                    <li>Home: {{ game.home }}<input type="radio" name="game" value="home {{ game.id }}"> </li>
                    <li>Away: {{ game.away }}<input type="radio" name="game" value="away {{ game.id }}"></li>
                </ul>
            </li>
        <button class="btn btn-default" type="submit" name="Make_Pick"/>Make Pick <i class="fa fa-lg fa-sign-in"></i> </button>
    </form>
    </ul>
{% endblock %}