{% extends "layout.jinja2" %}
{% block body %}

    <h1>Super-duper pool</h1>
        {% for participant in participants %}
            <p>{{ participant.username }}</p>
        {% endfor %}
{% endblock %}



