{% extends "layout.jinja2" %}
{% block body %}
    This is the selection page.  Participants will select which team they 
    would like to pick this week.

    <ul>
        <li>Week 1</li>
    </ul>
    There will be a selector here for a given week.  This will make a query for that week to the db which then populates the template below.
    Will default to the current week, or the first week if pre-season.
    <ul>
        {{% for event in events %}}
            <li>
                <ul>
                {{ datetime }}
                    <li>{{ home }}</li>
                    <li>{{ away }}</li>
                </ul>
            </li>
        {{% endfor %}}
    </ul>
{% endblock %}