{% extends "layout.jinja2" %}
{% block body %}
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
    <h2>Sign-up</h2>
    <form class="input-group" action="" method="POST">
        <div class="input-group" class="field">
            <label for="username">New Username</label>
            <input class="form-control" type="text" name="new_username" id="new_username" required autofocus/>
        </div>
        <div class="input-group" class="field">
            <label for="password">New Password</label>
            <input class="form-control" type="password" name="new_password" id="new_password" required/>
        </div>
        <br>
        <div class="input-group" class="control_row">
            <button class="btn btn-default" type="submit" name="Login"/>Sign-up <i class="fa fa-lg fa-user-plus"></i> </button>
        </div>
    </form>
{% endblock %}