{% extends "layout.jinja2" %}
{% block body %}
    {% for team in teams %}
        <p>{{ team.name }}</p>
        <p>{{ team.bye_week}}</p>
        <img src='{{ team.icon }}'> 
    {% endfor %}
{% endblock %}